@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.logo img {
    max-height: 56px;
}

.navbar-nav {
    text-align: end;
}

.botonemergencias {
    text-align: end;
}
.botonemergencias button {
    background-color: red;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 100px;
    font-weight: bold;
    font-family: "Monserrat"; 
    font-size: 75%;
}

.enlace-botonemergencias {
    text-decoration: none;
}

.botonemergencias1 button {
    display: none;
}

/* BANNER */

.imagenprincipal {
    width: 100%;
    height: 154px;
    border-radius: 20px;
}

.contenedor2 {
    position: relative;
    margin-bottom: 24px;
}

.texto {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-30%, -50%);
}

.punto-aparte {
    display: inline-block;
}

.titulo {
    font-family: "Monserrat";
    font-size: 32px;
    color: #1A8389;
    font-weight: 700;
}

@media (min-width: 992px) {
    .encabezado {
        align-items: center;
    }
    .logo img {
        max-height: 72px;
    }
    .collapse {
        justify-content: end;
        text-transform: uppercase;
    }
    .nav-link {
        border: none;
        border-radius: 100px;
        font-weight: bold;
        font-family: "Monserrat"; 
        cursor: pointer;
    }
    .nav-link:hover {
        background-color: #1A8389;
        color: white;
    }
    .botonemergencias {
        display: none;
    }
    .botonemergencias1 {
        text-align: end;
    }
    .botonemergencias1 button {
        display: initial;
        background-color: red;
        color: white;
        padding: 12px 16px;
        border: none;
        border-radius: 100px;
        font-weight: bold;
        font-family: "Monserrat"; 
        cursor: pointer;
    }
    .botonemergencias1 button:hover {
        background-color: yellow;
        color: black;
    }
    .texto {
        top: 50%;
        left: 20%;
        transform: translate(-0%, -50%);
    }
        
    .titulo {
        font-size: 56px;
    }      
    
}


/* MAIN */

    .contenedorprofesionales {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
    
    .imagendoctores {
        width: 300px;
        height: auto;
    }
    
    .nombresdoctores {
        color: #1A8389;
        margin: 12px;
        font-family: "Monserrat";
    }

    .recepcionconsultorio {
        margin-top: 24px;
    }
    .imagenconsultorio {
        width: 100%;
        border-radius: 20px;
    }

    /* HISTORIA */

    .contenedorhistoria {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #1A8389  ;
        text-align: justify;
        font-family: "Monserrat";
        margin-bottom: 24px;
    }
    
    .titulohistoria {
        margin: 32px 5px 5px;
        padding: 1px;
        font-size: 24px;
        font-weight: 700;
    }
    .historia {
        white-space: pre-line;
        margin: 5px;
        padding: 1px;
        font-size: 18px;
    }

    @media (min-width: 992px) {
        .titulohistoria {
            font-size: 48px;
        }
        .historia {
            font-size: 24px;
            text-align: center;
        }
    

    }

/* ASIDE */

.div-turnero {
    background-color: #1A8389;
    padding: 24px;
    display: block;
    border-radius: 20px;
}
.turnero {
    background-color: white;
    padding: 16px;
    border-radius: 15px;
    box-shadow: 0 2px 4px #022a2c;
    display: flex;
    flex-direction: column;
}

.tituloturnero {
    text-align: center;
    margin: 16px 16px 32px;
    font-weight: 700;
    font-family: "Monserrat";
    color: #1A8389;
}

form {
    display: flex;
    flex-direction: column;
}

.label-turnero {
    text-align: center;
    font-weight: 700;
    font-family: "Monserrat";
    color: #1A8389;
}

.input-turnero {
    text-align: center;
    padding: 2% 20%;
    border-radius: 20px;
    margin: 10px 0px;
    color: #1A8389;
    font-weight: 700;
}

.contenedor-botonturnero {
    text-align: center;
    margin: 16px;
}
.botonturnero {
    background-color: #1A8389;
    color: white;
    padding: 12px 12px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    font-family: "Monserrat"; 
}

@media (min-width: 992px) {
    .div-turnero {
        padding: 46px 165px
    }
    .turnero {
        padding: 16px 56px; 
    }
    .tituloturnero {
        font-size: 48px;
    }
    .input-turnero {
        padding:1% 10%;

    }
}

/* PIE DE PAGINA */
.piedepagina {
    background-color: black;
    margin-top: 16px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

h6 {
    color: white;
}

.footerubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1px;
    padding: 16px 1px;
    text-align: center;
    height: 100%;
}

.contenedorubicacion { 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.calleubicacion { 
    font-family: "Monserrat";
    margin: 5px 5px 2.5px;
    padding: 5px 5px 2.5px;
}

.barrioubicacion {
    font-family: "Monserrat";
    margin: 2.5px 5px 5px;
    padding: 2.5px 5px 5px;
}

.footerhorarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1px;
    padding: 16px 1px;
    text-align: center;
    height: 100%;
}

.contenedorhorarios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diaslaborales {
    font-family: "Monserrat";
    margin: 5px 5px 2.5px;
    padding: 5px 5px 2.5px;
}

.horarioslaborales {    
    font-family: "Monserrat";
    margin: 2.5px 5px 5px;
    padding: 2.5px 5px 5px;
}

.iconofooter {
    width: 56px;
}

.footerredes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 1px;
    padding: 16px 1px;
    height: 100%;
}

.contenedorinstagram {
    width: 48px;
    height: 48px;
    margin: 1px;
    padding: 1px 1px 6px6;
}

.iconoinstagram { 
    width: 48px;
    height: 48px;
}

.contenedorwhatsapp {
    width: 48px;
    height: 48px;
    margin: 1px;
    padding: 6px 1px 1px;
}

.iconowhatsapp {
    width: 48px;
    height: 48px;
}

.registro {
    background-color: white;
    flex-wrap: nowrap;
    border-width: 1px;
    border-style: solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px 0px;

}

.contenedorregistro1 {
    display: flex;
    align-items: center;
    margin: 1px;
    justify-content: center;
}

.iconoregistro {
    margin: 1px 5px;
    height: 17.5px;
}

.registronombre1 {
    margin: 1px 5px;
    font-size: 12px;
}

.contenedorregistro2 {
    margin: 1px;
    padding: 1px;
    text-align: center;
}

.registronombre2 {
    margin: 1px 5px;
    padding: 2px 5px;
    font-size: 12px;
}




/*body {
    margin: 0%;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 32px;
}

.logo img {
    max-height: 64px;
}

.botonemergencias button {
    background-color: red;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 100px;
    font-weight: bold;
    font-family: "Monserrat"; 
    cursor: pointer;

}

.menu {
    background-color: #1A8389;
    margin: 12px 0px 0px;
}

.menulistas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0px 0px;
    padding: 12px;
    margin-inline: 224px;
    list-style: none;
}

.menulistasitems {
    text-decoration: none;
    color: white;
    margin: 12px 0px;
    font-family: "Monserrat"; 
}

main {
    margin-top: 0px;
}

.imagenprincipal {
    width: 100%;
    height: 220px;
    margin: 0%;
}

.contenedor {
    position: relative;
}

.contenedor2 {
    height: 220px;
}

.texto {
    position: absolute;
    margin: 24px;
    padding: 1px 1px 1px 356px;
}

.titulo {
    font-family: "Monserrat";
    font-size: 48px;
    margin: 16px 0px 0px;   
    color: #1A8389;
}

    .profesionales {
        display: flex;
        justify-content: space-between;
        margin: 32px 48px;
        padding: 1px 224px;
        }
        
        .contenedorprofesionales {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }
        
        .imagendoctores {
            width: 300px;
            height: auto;
        }
        
        .nombresdoctores {
            color: #1A8389;
            margin: 12px;
            font-family: "Monserrat";
        }

    .recepcionconsultorio {
        height: 299px;
    }

    .imagenconsultorio {
        width: 100%;
    }

.contenedorhistoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1A8389  ;
    margin: 64px 48px 32px;
    padding: 1px 86px;
    text-align: center;
}

.titulohistoria {
    margin: 32px 5px 5px;
    padding: 1px;
    font-size: 24px;
}
.historia {
    white-space: pre-line;
    margin: 5px;
    padding: 1px;
    font-size: 18px;
}

.turnero {
    background-color: #1A8389;
}

.tituloturnero {
    margin: 12px 48px;
    padding: 48px 0px 6px;
    font-family: "Monserrat";
    font-size: 48px;
    color: white;
}

.entradadedatos {
    margin: 12px 48px 0px;
    padding: 6px 0px 48px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

label {
    position: relative;
    color: white;
    background-color: transparent;
    font-family: "Monserrat";
    align-self: center;
    text-transform: uppercase;
    font-size: 24px;

}

label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.5;
    z-index: -1;
}

input {
    align-self: center;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 50px;
    padding: 5px;
    border: none;
}

.botonturnero {
    background-color: black;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    font-family: "Monserrat"; 
    font-size: 18px;
}

.piedepagina {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0px 48px;
}
h6 {
    color: white;
}

.footerubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1px;
    padding: 16px 1px;
}

.contenedorubicacion { 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

}

.calleubicacion { 
    font-family: "Monserrat";
    margin: 5px 5px 2.5px;
    padding: 5px 5px 2.5px;
}

.barrioubicacion {
    font-family: "Monserrat";
    margin: 2.5px 5px 5px;
    padding: 2.5px 5px 5px;
}

.footerhorarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1px;
    padding: 16px 1px;
}

.contenedorhorarios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diaslaborales {
    font-family: "Monserrat";
    margin: 5px 5px 2.5px;
    padding: 5px 5px 2.5px;
}

.horarioslaborales {    
    font-family: "Monserrat";
    margin: 2.5px 5px 5px;
    padding: 2.5px 5px 5px;
}

.iconofooter {
    width: 56px;
}

.footerredes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1px;
    padding: 16px 1px;
}

.contenedorinstagram {
    width: 48px;
    height: 48px;
    margin: 1px;
    padding: 1px 1px 6px6;
}

.iconoinstagram { 
    width: 48px;
    height: 48px;
}

.contenedorwhatsapp {
    width: 48px;
    height: 48px;
    margin: 1px;
    padding: 6px 1px 1px;
}

.iconowhatsapp {
    width: 48px;
    height: 48px;
}

.registro {
    background-color: white;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 1px 376px;
}

.contenedorregistro1 {
    display: flex;
    align-items: center;
    margin: 1px;
    padding: 1px;
}

.iconoregistro {
    margin: 1px 5px;
    padding: 1px 5px;
    height: 17.5px;
}

.registronombre1 {
    margin: 1px 5px;
    padding: 1px 5px;
}

.contenedorregistro2 {
    margin: 1px;
    padding: 1px;
}

.registronombre2 {
    margin: 1px 5px;
    padding: 2px 5px;
}
