@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/* HEADER */
.img {
  max-height: 56px;
}

.navbar-nav {
  text-align: end;
}
.navbar-nav .botonemergencias {
  text-align: end;
}
.navbar-nav .botonemergencias button {
  background-color: red;
  color: white;
  padding: 12px 16px;
  border: none;
  border-radius: 100px;
  font-weight: bold;
  font-family: "Monserrat";
  font-size: 75%;
}

.enlace-botonemergencias {
  text-decoration: none;
}
.enlace-botonemergencias button {
  display: none;
}

/* VISTA DESKTOP */
@media (min-width: 992px) {
  .encabezado {
    align-items: center;
  }
  .encabezado .logo img {
    max-height: 72px;
  }
  .encabezado .collapse {
    justify-content: end;
    text-transform: uppercase;
  }
  .encabezado .collapse .nav-link {
    border: none;
    border-radius: 100px;
    font-weight: bold;
    font-family: "Monserrat";
    cursor: pointer;
  }
  .encabezado .collapse .nav-link:hover {
    background-color: #1A8389;
    color: white;
  }
  .encabezado .collapse .botonemergencias {
    display: none;
  }
  .encabezado .botonemergencias1 {
    text-align: end;
  }
  .encabezado .botonemergencias1 button {
    display: initial;
    background-color: red;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 100px;
    font-weight: bold;
    font-family: "Monserrat";
    cursor: pointer;
  }
  .encabezado .botonemergencias1 button:hover {
    background-color: yellow;
    color: black;
  }
}
/* MAIN */
.container {
  position: relative;
}
.container .texto {
  position: absolute;
  text-align: center;
  font-family: "Monserrat";
  z-index: 1;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .texto .titulo {
  font-size: 36px;
  color: #1A8389;
  font-weight: 700;
}
.container .texto .titulo .subrayado {
  text-decoration: underline;
}
.container .texto .eslogan {
  font-size: 16px;
  color: #1A8389;
}
.container .imagenprincipal {
  width: 100%;
  z-index: 2;
  border-radius: 20px;
}

/* VISTA DESKTOP */
@media (min-width: 992px) {
  .container .texto {
    top: 25%;
  }
  .container .texto .titulo {
    font-size: 72px;
  }
  .container .texto .eslogan {
    font-size: 28px;
    text-align: end;
  }
  .container .imagenprincipal {
    border-radius: 20px;
  }
  .container .contenedor-carousel {
    width: 60%;
  }
}
/* ASIDE */
.div-turnero {
  background-color: #1A8389;
  padding: 24px;
  display: block;
  border-radius: 20px;
}
.div-turnero .turnero {
  background-color: white;
  padding: 16px;
  border-radius: 15px;
  box-shadow: 0 2px 4px #022a2c;
  display: flex;
  flex-direction: column;
}
.div-turnero .turnero .tituloturnero {
  text-align: center;
  margin: 16px 16px 32px;
  font-weight: 700;
  font-family: "Monserrat";
  color: #1A8389;
}
.div-turnero .turnero form {
  display: flex;
  flex-direction: column;
}
.div-turnero .turnero form .label-turnero {
  text-align: center;
  font-weight: 700;
  font-family: "Monserrat";
  color: #1A8389;
}
.div-turnero .turnero form .input-turnero {
  text-align: center;
  padding: 1% 10%;
  border-radius: 20px;
  margin: 10px 0px;
  color: #1A8389;
  font-weight: 700;
}
.div-turnero .turnero form .contenedor-botonturnero {
  text-align: center;
  margin: 16px;
}
.div-turnero .turnero form .contenedor-botonturnero .botonturnero {
  background-color: #1A8389;
  color: white;
  padding: 12px 12px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-family: "Monserrat";
}

/* VISTA DESKTOP */
@media (min-width: 992px) {
  .div-turnero {
    padding: 46px 165px;
  }
  .div-turnero .tituloturnero {
    font-size: 48px;
  }
  .div-turnero .input-turnero {
    padding: 1% 10%;
  }
}
/* PIE DE PAGINA */
.piedepagina {
  background-color: black;
  margin-top: 16px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.piedepagina h6 {
  color: white;
}
.piedepagina .footerubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1px;
  padding: 16px 1px;
  text-align: center;
  height: 100%;
}
.piedepagina .footerubicacion .contenedorubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.piedepagina .footerubicacion .contenedorubicacion .calleubicacion {
  font-family: "Monserrat";
  margin: 5px 5px 2.5px;
  padding: 5px 5px 2.5px;
}
.piedepagina .footerubicacion .contenedorubicacion .barrioubicacion {
  font-family: "Monserrat";
  margin: 2.5px 5px 5px;
  padding: 2.5px 5px 5px;
}
.piedepagina .footerhorarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1px;
  padding: 16px 1px;
  text-align: center;
  height: 100%;
}
.piedepagina .footerhorarios .diaslaborales {
  font-family: "Monserrat";
  margin: 5px 5px 2.5px;
  padding: 5px 5px 2.5px;
}
.piedepagina .footerhorarios .horarioslaborales {
  font-family: "Monserrat";
  margin: 2.5px 5px 5px;
  padding: 2.5px 5px 5px;
}
.piedepagina .iconofooter {
  width: 56px;
}
.piedepagina .footerredes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 1px;
  padding: 16px 1px;
  height: 100%;
}
.piedepagina .footerredes .contenedorinstagram {
  width: 48px;
  height: 48px;
  margin: 1px;
  padding: 1px 1px 6px6;
}
.piedepagina .footerredes .contenedorinstagram .iconoinstagram {
  width: 48px;
  height: 48px;
}
.piedepagina .footerredes .contenedorwhatsapp {
  width: 48px;
  height: 48px;
  margin: 1px;
  padding: 6px 1px 1px;
}
.piedepagina .footerredes .contenedorwhatsapp .iconowhatsapp {
  width: 48px;
  height: 48px;
}

.registro {
  background-color: white;
  flex-wrap: nowrap;
  border-width: 1px;
  border-style: solid;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 5px 0px;
}
.registro .contenedorregistro1 {
  display: flex;
  align-items: center;
  margin: 1px;
  justify-content: center;
}
.registro .contenedorregistro1 .iconoregistro {
  margin: 1px 5px;
  height: 17.5px;
}
.registro .contenedorregistro1 .registronombre1 {
  margin: 1px 5px;
  font-size: 12px;
}
.registro .contenedorregistro2 {
  margin: 1px;
  padding: 1px;
  text-align: center;
}
.registro .contenedorregistro2 .registronombre2 {
  margin: 1px 5px;
  padding: 2px 5px;
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
