/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
$font: 'Montserrat', sans-serif;

/* COLORES */
$color-principal: #1A8389;
$color-secundario: white;
$color-terciario: black;
$color-boton-emergencia-1: crimson;
$color-boton-emergencia-2: gold;
$color-fondo-footer: black;
$color-fondo-turnero-1: #1A8389;
$color-fondo-turnero-2: white;
$color-fondo-formulario-1: white;


/* MARGENES - CONTENEDORES PRINCIPALES */
$margin-mobile: 3% 0%;
$margin-desktop: 2% 0%;

/* BORDES-ESTILOS */
$border_radius-stylepage: 20px;
$border_radius-formulario: 20px;




