$color-fondos: (
    primario: #1A8389,
    secundario: white,
);

$color-textos: (
    primario: #1A8389,
    secundario: white,
    terciario: black,
);

$color-fondo-boton: (
    emergencias-1: crimson,
    emergencias-2: gold,
    boton-carousel: #1A8389,
    boton-turnero: #1A8389,
    boton-texto-1: white,
    boton-texto-2: black,
)